@model Datatable_Test.Models.Departamento

<h2>Save</h2>
@using (Html.BeginForm("save", "home", FormMethod.Post, new { id = "#popupForm" }))
{
    if (Model != null && Model.Num_Empleado > 0)
    {
        @Html.HiddenFor(a=>a.Num_Empleado)
    }

    <div class="form-group">
        <label>Nombre</label>
        @Html.TextBoxFor(a=>a.Nombre, new { @class = "form-control" })
        @Html.ValidationMessageFor(a=>a.Nombre)
    </div>
    <div>
        <input type="submit" value="Save" />
    </div>
}

